footer {
	bottom: 0;
	background-color: beige;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 110px;
	/*vertical-align: middle;*/
}

footer td a {
	font-style: italic;
}

footer p {
	vertical-align: middle;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-bottom: 2px;
	padding: 2px;
}

footer hr {
	border: 1px solid black;
}

table {
	width: 100%;
}

table, th, td {
	border: none;
}

#float p {
	text-align: right;
}