<footer>
    <div class="columns">
        <div>
            Copyright &copy; Centaurus Physics Club {{ 'now' | date: "%Y" }}
            <br>
            <div class="footer-line">
                Website created by <a href="https://mcsltech.com/" target="_blank">Monty King</a> and <a href="https://benjaminashbaugh.me" target="_blank">Benjamin Ashbaugh</a>
            </div>
            <a class="footer-line" href="#">Source on Github</a>
        </div>
        <div>
            <a class="footer-line" href="https://ceh.bvsd.org/">Centaurus High School</a>
            <a class="footer-line" href="https://www.bvsd.org/">BVSD</a>
            <div class="footer-line">Certified <b><i>Epic</i></b> since 2018</div>
        </div>
    </div>
</footer>