nav img {
	position: absolute;
	left: 0 auto;
	top: 0;
	width: 400px;
	height: 100px;
	z-index: 0;
}

nav hr {
	border: 3px solid black;
	margin-top: 42px;
}

/*.nav-foot {
  position: absolute;
  top: 40px;
  right: 0;
  height: 5px;
  width: calc(100% - 500px);
  background: linear-gradient(to right, purple, blue);
  z-index: -1;
}*/

#head-back {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c4388+0,1241ae+50,0069d3+100 */
background: rgb(44,67,136); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(44,67,136,1) 0%, rgba(18,65,174,1) 50%, rgba(0,105,211,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(44,67,136,1) 0%,rgba(18,65,174,1) 50%,rgba(0,105,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(44,67,136,1) 0%,rgba(18,65,174,1) 50%,rgba(0,105,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4388', endColorstr='#0069d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  position: absolute;
  left: 0 auto;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: -1;
 /* #800080*/
 max-width: 2000px;
}

#head-style {
  position: absolute;
  right: 0;
  top: 40px;
  width: calc(100% - 500px);
  height: 25px;
  background-color: #36BCD7;
  border-top-left-radius: 25px;
  z-index: 0;
}

#head-style2 {
  position: absolute;
  right: 0;
  top: 65px;
  width: calc(100% - 475px);
  height: 25px;
  background-color: #36BCD7;
  z-index: 0;
}

#head-style-cur {
  position: absolute;
  left: 475px;
  top: 65px;
  height: 25px;
  width: 25px;
  background-color: black;
  border-bottom-right-radius: 25px;
  z-index: 1;
}

.topnav {
  overflow: hidden;
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 9px;
  text-decoration: none;
  font-size: 20px;
}

#duh {
	height: 16px;
}

.topnav a:hover {
  color: aqua;
  text-decoration: underline;
  font-style: italic;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
  height: 15px;
  width: 45px;
  background-image: url("/phpVersion/imagession/images/sandwich.png");
}

@media screen and (max-width: 725px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 725px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {

    float: none;
    display: block;
    text-align: right;
    color: black;
    background-color: white;
    opacity: 0.5;
  }

  .topnav.responsive a:hover {
  	 background-color: white;
  	 opacity: 1;
  }
}

@media screen and (max-width: 725px) {
  .nav-foot {
    width: 100%;
    top: 100px;
  }
}