<!-- Content Layout Start -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body>
<div class="page">
    {% include nav.html %}

    <div class="page-container {{ page.content_classes }}">
        {% if page.subnav %}
        <div class="subnav">
            <h5>Scroll to:</h5>
            {% for link in page.subnav %}
            <a href="#{{ link.heading }}">{{ link.title }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div class="centered-content">
            <h2 class="page-title">{{ page.title }}</h2>
            <div class="{% if page.no_justify != true %}justify-text{% endif %}">
                {{ page.content | markdownify }}
            </div>
        </div>
    </div>
    {% include js.html %}

    {% include footer.html %}
</div>
</body>
</html>

<!-- Content Layout End -->