<!-- Content Layout Start -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body>
<div class="page">
    {% include nav.html %}

    <div class="page-container">
        <div class="centered-content">
            <h2 class="page-title">{{ page.title }}</h2>
            <div
                    {% if page.no_justify != true %}
                    class="justify-text"
                    {% endif %}>
                {{ page.content | markdownify }}
            </div>
        </div>
    </div>
    {% include js.html %}

    {% include footer.html %}}
</div>
</body>
</html>

<!-- Content Layout End -->