<!-- Projects Layout Start -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body>
<div class="page">
    {% include nav.html %}

    <div class="page-container vanta-globe">
        <div class="centered-content">
            <h2 class="page-title">Our Projects</h2>
            <div>
                {{ page.content | markdownify }}
            </div>
        </div>
        <div class="project-grid">
            <!-- Iterate through each project in _projects_collection and add the project card -->
            {% assign projects = (site.projects_collection | sort: 'date_added') | reverse %}
            {% for project in projects %}
            {% if project.visible != false %}
            <a href="#{{ project.hash }}" class="project-card">
                <div>
                    <h3>{{ project.title }}</h3>
                    <h6>{{ project.when }}</h6>
                    {% if project.image %}
                    <img src="{{ project.image }}" />
                    {% endif %}
                    <p>{{ project.summary }}</p>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>

        <a href="#" id="fullscreen-overlay"></a>

        <!-- Iterate through each project in _projects_collection and add the project description pop-up -->
        {% assign projects = (site.projects_collection | sort: 'date_added') | reverse %}
        {% for project in projects %}
        {% if project.visible != false %}
        <div id="{{ project.hash }}-proj" class="project-description">
            <a href="#" class="close-button-x">close</a>
            {% if project.link %}
            <a href="{{ project.link }}" target="_blank"><h2>{{ project.title }}</h2></a>
            {% else %}
            <h2>{{ project.title }}</h2>
            {% endif %}
            <p>When: {{ project.when }}</p>
            {{ project.content | markdownify }}
        </div>
        {% endif %}
        {% endfor %}

    </div>
    {% include js.html %}

    {% include footer.html %}
</div>
</body>
</html>

<!-- Projects Layout End -->